<script src="angular.js"></script>
<script>
    var app = angular.module('app',[]);
    app.controller('MyController', function ($scope,$http){
        $scope.sendGet = () => {
            $http.get('myrul.php').then(res =>{
                console.log(res.data);
            })
        }
        $scope.sendPost = () => {
            $http.post('myurl.php').then(res =>{
                console.log(res.data)
            })
        }

    })
</script>
<div ng-app="app">
    <div ng-controller="MyController">
        <button ng-click="sendGet()">Send Get</button>
        <button ng-click="sendPost()">Send post</button>
    </div>
</div>